@inherits LayoutComponentBase

<div class="page">
    @if (!hideNav)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private bool hideNav;

    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.Uri.ToLower();
        hideNav = uri.EndsWith("/") || uri.Contains("/login");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        var uri = NavigationManager.Uri.ToLower();
        hideNav = uri.EndsWith("/") || uri.Contains("/login");
        StateHasChanged();
    }
}
